@using Wildblood.Tactics.Mappings
@using Wildblood.Tactics.Models.Tools

<MudPaper style="grid-area:2/2/span 3/2">
    <MudTabs MinimumTabWidth="20px">
        <MudTabPanel Icon="@swordsIcon" @onclick="() => ChangeTool(Models.Tools.ToolType.AddIcon)">
            <div>
                <MudPaper Class="flex-wrap d-flex" Width="100%">
                    @foreach (var unit in IconMapping.FileNameByIconType)
                    {
                        <MudPaper Class="ma-1" @onclick="@(async (args) => await SelectedUnit(unit.Key))">
                            <img src="@(IconMapping.BlazorBasePath + unit.Value)" helazorBight="40" width="40" />
                        </MudPaper>
                    }
                </MudPaper>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@vectorLineIcon" @onclick="() => ChangeTool(Models.Tools.ToolType.DrawLine)">
            <MudPaper>
                <MudColorPicker Label="Line Color" Text="@AllOptions.LineDrawOptions!.Color" TextChanged="OnLineColorChanged" Class="my-6" />
                <MudText>Select Line Style:</MudText>
                <MudToggleGroup T="LineStyle" Color="Color.Success" Value="cosmeticLineStyle" ValueChanged="OnLineStyleChange" Size="Size.Small" Outlined="false" SelectionMode="SelectionMode.SingleSelection">
                    <MudToggleItem Value="@LineStyle.Normal">
                        <MudIcon Icon="@solidLine" />
                    </MudToggleItem>
                    <MudToggleItem Value="@LineStyle.Dashed">
                        <MudIcon Icon="@dashedLine" />
                    </MudToggleItem>
                    <MudToggleItem Value="@LineStyle.Dotted">
                        <MudIcon Icon="@dottetLine" />
                    </MudToggleItem>
                </MudToggleGroup>
                <MudText>Select Line End:</MudText>
                <MudToggleGroup T="LineEnd" Color="Color.Success" Value="cosmeticLineEnd" ValueChanged="OnLineEndChange" Size="Size.Small" Outlined="false" SelectionMode="SelectionMode.SingleSelection">
                    <MudToggleItem Value="@LineEnd.Normal">
                        <MudIcon Icon="@solidLine"/>
                    </MudToggleItem>
                    <MudToggleItem Value="@LineEnd.Arrow">
                        <MudIcon Icon="@arrowHead"/>
                    </MudToggleItem>
                    <MudToggleItem Value="@LineEnd.Flat">
                        <MudIcon Icon="@straightArrow" />
                    </MudToggleItem>
                </MudToggleGroup>
            </MudPaper>
        </MudTabPanel>
        <MudTabPanel Icon="@curveIcon" @onclick="() => ChangeTool(Models.Tools.ToolType.DrawCurve)">
            <MudPaper>
                <MudColorPicker Label="Line Color" Text="@AllOptions.CurveDrawOptions!.Color" TextChanged="OnCurveColorChanged" Class="my-6" />
                <MudText>Select Line Style:</MudText>
                <MudToggleGroup T="LineStyle" Color="Color.Success" Value="cosmeticLineStyle" ValueChanged="OnCurveStyleChange" Size="Size.Small" Outlined="false" SelectionMode="SelectionMode.SingleSelection">
                    <MudToggleItem Value="@LineStyle.Normal">
                        <MudIcon Icon="@solidLine" />
                    </MudToggleItem>
                    <MudToggleItem Value="@LineStyle.Dashed">
                        <MudIcon Icon="@dashedLine" />
                    </MudToggleItem>
                    <MudToggleItem Value="@LineStyle.Dotted">
                        <MudIcon Icon="@dottetLine" />
                    </MudToggleItem>
                </MudToggleGroup>
                <MudText Class="my-3">Select Line End:</MudText>
                <MudToggleGroup T="LineEnd" Color="Color.Success" Value="cosmeticLineEnd" ValueChanged="OnCurveEndChange" Size="Size.Small" Outlined="false" SelectionMode="SelectionMode.SingleSelection">
                    <MudToggleItem Value="@LineEnd.Normal">
                        <MudIcon Icon="@solidLine" />
                    </MudToggleItem>
                    <MudToggleItem Value="@LineEnd.Arrow">
                        <MudIcon Icon="@arrowHead" />
                    </MudToggleItem>
                    <MudToggleItem Value="@LineEnd.Flat">
                        <MudIcon Icon="@straightArrow" />
                    </MudToggleItem>
                </MudToggleGroup>
            </MudPaper>

        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Outlined.Rectangle" @onclick="() => ChangeTool(Models.Tools.ToolType.AddShape)">
            <MudPaper>
                <MudColorPicker Label="Outline Color" Text="@AllOptions.CurveDrawOptions!.Color" TextChanged="OnShapeOutlineColorChanged" Class="my-6" />
                <MudColorPicker Label="Outline Color" Text="@AllOptions.CurveDrawOptions!.Color" TextChanged="OnShapeFillColorChanged" Class="my-6" />
                <MudText>Select Line Style:</MudText>
                <MudToggleGroup T="LineStyle" Color="Color.Success" Value="cosmeticLineStyle" ValueChanged="OnShapeLineStyleChanged" Size="Size.Small" Outlined="false" SelectionMode="SelectionMode.SingleSelection">
                    <MudToggleItem Value="@LineStyle.Normal">
                        <MudIcon Icon="@solidLine" />
                    </MudToggleItem>
                    <MudToggleItem Value="@LineStyle.Dashed">
                        <MudIcon Icon="@dashedLine" />
                    </MudToggleItem>
                    <MudToggleItem Value="@LineStyle.Dotted">
                        <MudIcon Icon="@dottetLine" />
                    </MudToggleItem>
                </MudToggleGroup>
            </MudPaper>
        </MudTabPanel>
    </MudTabs>
</MudPaper>