@page "/Tactics/{ID}"
@namespace Wildblood.Tactics.Components.Pages
@using MongoDB.Bson
@using Wildblood.Tactics.Entities
@using MongoDB.Driver;
@using Wildblood.Tactics.Models
@using Icon = Wildblood.Tactics.Entities.Icon
@using Wildblood.Tactics.Components.Layout
@inject IJSRuntime JS;
@inject IMongoDatabase Database;
@inject IDialogService DialogService
@rendermode InteractiveServer

<div class="parent">
    <div style="grid-area: 1/1/span 7/2;" id="tacticsCanvasContainer">
        @*Width and Height is set via JS (=> 100% of size of parent container)*@
        <canvas id="tacticsCanvas" width="100%" height="100%" style="border:1px solid #000000;" @onmousedown="MouseDown" @onmouseup="dragStop"  @onmousemove="dragMove"></canvas>
        <img id="dragImage" src="" style="display:none" @onmouseup="dragStop"/>
    </div>
    <div id="MapSelectionDiv" style="grid-area:1/2/1/2">
        <MudSelect T="string" Label="Maps" ValueChanged="MapChanged">
            @foreach (var map in maps)
            {
                <MudSelectItem Value="@map">@map</MudSelectItem>
            }
        </MudSelect>
    </div>
    <MudPaper style="grid-area:2/2/span 3/2">
        <MudTabs>
            <MudTabPanel Icon="@swordsIcon" @onclick="() => ChangeTool(IconType.Unit)">
                <div>
                    @*Unit*@
                    <MudPaper Class="flex-wrap d-flex" Width="300px">
                        @foreach (var unit in units)
                        {
                            <MudPaper Class="ma-1" @onclick="@(async (args) => await selectedUnitChanged(unit))">
                                <img src="/ConquerorsBladeData/Units/@unit" height="40" width="40" />
                            </MudPaper>

                        }
                    </MudPaper>
                </div>
            </MudTabPanel>
            <MudTabPanel Icon="@vectorLineIcon" @onclick="() => ChangeTool(IconType.StraightLine)">
                <MudPaper>
                    <MudColorPicker Label="Line Color" @bind-Text="colorValue"/>
                </MudPaper>
            </MudTabPanel>
        </MudTabs>
    </MudPaper>


    <div style="grid-area: 5/2/span 3/2; overflow-y: scroll; min-height:200px">
        <MudPaper>
            <MudTreeView T="Tactic" Hover="true" Dense="true" ExpandOnClick="true"> 
                <MudTreeViewItem Icon="@Icons.Material.Outlined.Map">
                    <BodyContent>
                        <div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
                            <MudText>@tactic.Name</MudText>
                            <div style="justify-self: end;">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" @onclick="@(async (args) => await onClickTacticRename())" />
                                <MudIconButton Icon="@Icons.Material.Filled.AddBox" @onclick="@(async (args) => await OnAddFolder())" />
                            </div>
                        </div>
                    </BodyContent>
                    <ChildContent>
                        @foreach(var folder in tactic.Folders)
                        {
                            <MudTreeViewItem Icon="@Icons.Material.Filled.Folder">
                                <BodyContent>
                                    <div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
                                        <MudText>@folder.Name</MudText>
                                        <div style="justify-self: end;">
                                            <MudIconButton Icon="@Icons.Material.Filled.Edit" @onclick="@(async (args) => await OnClickFolderRename(folder.Id))" />
                                            <MudIconButton Icon="@Icons.Material.Filled.AddBox" @onclick="@(async (args) => await OnAddSlide(folder.Id))" />
                                        </div>
                                    </div>
                                </BodyContent>
                                <ChildContent>
                                    @foreach (var slide in folder.Slides)
                                    {
                                        <MudTreeViewItem  Icon="@Icons.Material.Filled.Notes" @onclick="@(async (args) => await OnSelectedSlideChange(slide, folder))">
                                            <BodyContent>
                                                <div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
                                                    <MudText >@slide.Name</MudText>
                                                    <div style="justify-self: end;">
                                                        <MudIconButton Icon="@Icons.Material.Filled.Edit" @onclick="@(async (args) => await onclickSlideRename(slide.Id, folder.Id))"/>
                                                    </div>
                                                </div>
                                            </BodyContent>
                                        </MudTreeViewItem>
                                    }
                                </ChildContent>
                            </MudTreeViewItem>
                        }
                    </ChildContent>
                </MudTreeViewItem>
            </MudTreeView>
        </MudPaper>
    </div>
</div>

@code {

    [Parameter]
    public string? ID { get; set; }

    private Tactic? tactic;
    private string colorValue;
    private Slide currentSlide;
    private Folder currentFolder;
    private IconType currentTool = IconType.Unit;
    private IconType currentDraggingType = IconType.Unit;
    private static string baseMapPath = "wwwroot/ConquerorsBladeData/Maps";
    private static string baseUnitPath = "wwwroot/ConquerorsBladeData/Units";
    private string selectedUnit;
    private IMongoCollection<Tactic> collection;

    private List<string> maps = new List<string>();
    private List<string> units = new List<string>();
    private Icon draggingIcon;
    private Icon drawableIcon;
    private bool drawingShape = false;
    private bool isDragging = false;
    private int draggingIconIndex;
    private double startX;
    private double startY;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        maps = Directory.EnumerateFiles(baseMapPath, "*", SearchOption.AllDirectories)
            .Select(f => Path.GetFileName(f)
            .Split('.')[0])
            .ToList();
        units = Directory.EnumerateFiles(baseUnitPath, "*", SearchOption.AllDirectories)
            .Select(f => Path.GetFileName(f))
            .ToList();
    }

    protected override async void OnParametersSet()
    {
        if (ID != null)
        {
            collection = Database.GetCollection<Tactic>("Tactics");
            tactic = collection.Find(t => t.Id == ID).FirstOrDefault();
            currentFolder = tactic.Folders[0];
            currentSlide = currentFolder.Slides[0];
            colorValue = "#000000";
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) 
        {
            await JS.InvokeVoidAsync("setCanvasSize", "tacticsCanvas");
            if (currentSlide.MapPath != null)
            {
                await JS.InvokeVoidAsync("setBackground", currentSlide.MapPath);
            }

            if (currentSlide.Icons.Any())
            {
                await JS.InvokeVoidAsync("draw", currentSlide.Icons);
            }
        }
    }

    public Task selectedUnitChanged(string unit)
    {
        selectedUnit = unit;
        return Task.CompletedTask;
    }

    public async Task MapChanged(string map)
    {
        currentSlide.MapPath = map;
        await JS.InvokeVoidAsync("setBackground", map);
        var filter = Builders<Tactic>.Filter.Eq(t => t.Id, tactic.Id);
        var folderIndex = tactic.Folders.FindIndex(f => f.Id == currentFolder.Id);
        var slideIndex = tactic.Folders[folderIndex].Slides.FindIndex(s => s.Id == currentSlide.Id);
        var update = Builders<Tactic>.Update.Set(t => t.Folders[folderIndex].Slides[slideIndex].MapPath, map);
        await collection.UpdateOneAsync(filter, update);
    }


    private async Task placeIcon(MouseEventArgs eventArgs)
    { 
        // End X and End Y will be OFfset X + 40 so the base unit is 40x40
        var unit = new Icon(eventArgs.OffsetX, eventArgs.OffsetY, eventArgs.OffsetX + 40, eventArgs.OffsetY + 40, "/ConquerorsBladeData/Units/" + selectedUnit, IconType.Unit, colorValue);

        await JS.InvokeVoidAsync("placeIcon", unit);

        currentSlide.Icons.Add(unit);
        var folderIndex = tactic.Folders.FindIndex(f => f.Id == currentFolder.Id);
        var slideIndex = tactic.Folders[folderIndex].Slides.FindIndex(s => s.Id == currentSlide.Id);
        var filter = Builders<Tactic>.Filter.Eq(t => t.Id, tactic.Id);
        var update = Builders<Tactic>.Update.Push(t => t.Folders[folderIndex].Slides[slideIndex].Icons, unit);
        await collection.UpdateOneAsync(filter, update);

    }

    private async Task MouseDown(MouseEventArgs eventArgs)
    {
        var mouseX = eventArgs.OffsetX;
        var mouseY = eventArgs.OffsetY;

        foreach (var icon in currentSlide.Icons)
        {
            if (mouseX > icon.StartX && mouseX < icon.EndX && mouseY > icon.StartY && mouseY < icon.EndY)
            {
                draggingIcon = new Icon(icon.StartX, icon.StartY, icon.EndX, icon.EndY, icon.FilePath, icon.Type, icon.Color);
                draggingIconIndex = currentSlide.Icons.IndexOf(icon);
                isDragging = true;
                startX = mouseX;
                startY = mouseY;
                await JS.InvokeVoidAsync("startDrag", draggingIcon, mouseX, mouseY);
                currentSlide.Icons.Remove(icon);
                currentDraggingType = icon.Type;
                return;
            }
        }
        switch (currentTool)
        {
            case IconType.Unit:
                await placeIcon(eventArgs);
                return;
            case IconType.StraightLine:
                await setStartPointForArrow(eventArgs);
                drawingShape = true;
                return;
        }
    }

    private async Task dragMove(MouseEventArgs args)
    {
        if ((!isDragging || draggingIcon == null) && !drawingShape)
        {
            return;
        }

        if (currentTool == IconType.StraightLine && drawingShape)
        {
            drawableIcon.EndX = args.OffsetX;
            drawableIcon.EndY = args.OffsetY;
            currentSlide.Icons.Add(drawableIcon);
            await JS.InvokeVoidAsync("draw", currentSlide.Icons);
            currentSlide.Icons.Remove(drawableIcon);
            return;
        }

        if( currentDraggingType == IconType.Unit)
        {
            draggingIcon.StartX = args.OffsetX;
            draggingIcon.StartY = args.OffsetY;
            draggingIcon.EndX = args.OffsetX + 40;
            draggingIcon.EndY = args.OffsetY + 40;
        } 
        else if (currentDraggingType == IconType.StraightLine && !drawingShape)
        {
            var deltaX = args.OffsetX - startX;
            var deltaY = args.OffsetY - startY;
            draggingIcon.EndX += deltaX;
            draggingIcon.EndY += deltaY;
            draggingIcon.StartX += deltaX;
            draggingIcon.StartY += deltaY;

            startX = args.OffsetX;
            startY = args.OffsetY;
        }

        await JS.InvokeVoidAsync("dragIcon", args.ClientX, args.ClientY);
    }

    private async Task dragStop()
    {
        if (!isDragging && !drawingShape)
        {
            return;
        }
        var folderIndex = tactic.Folders.FindIndex(f => f.Id == currentFolder.Id);
        var slideIndex = tactic.Folders[folderIndex].Slides.FindIndex(s => s.Id == currentSlide.Id);
        var filter = Builders<Tactic>.Filter.Eq(t => t.Id, tactic.Id);

        if (currentTool == IconType.StraightLine && drawingShape)
        {
            //TODO: Color is not set properly
            drawingShape = false;
            currentSlide.Icons.Add(drawableIcon);
            await JS.InvokeVoidAsync("draw", currentSlide.Icons);
            var insert = Builders<Tactic>.Update.Push(t => t.Folders[folderIndex].Slides[slideIndex].Icons, drawableIcon);
            await collection.UpdateOneAsync(filter, insert);
            return;
        }

        isDragging = false;
        currentSlide.Icons.Add(draggingIcon);
        await JS.InvokeVoidAsync("stopDrag");
        await JS.InvokeVoidAsync("draw", currentSlide.Icons);
        var update = Builders<Tactic>.Update.Set(t => t.Folders[folderIndex].Slides[slideIndex].Icons[draggingIconIndex], draggingIcon);
        await collection.UpdateOneAsync(filter, update);

    }

    private async Task OnClickFolderRename(string folderID)
    {
        var folder = tactic.Folders.First(f => f.Id == folderID);
        var parameters = new DialogParameters<RenameDialog>
        {
            { "Name", folder.Name }
        };

        var dialog = await DialogService.ShowAsync<RenameDialog>("Rename", parameters);
        var newName = (await dialog.Result).Data.ToString();
        if (newName != null)
        {
            // it is infact a referece!
            folder.Name = newName;
            var filter = Builders<Tactic>.Filter.Eq(t => t.Id, tactic.Id);

            var folderIndex = tactic.Folders.FindIndex(f => f.Id == folderID);

            var update = Builders<Tactic>.Update.Set(t => t.Folders[folderIndex].Name, newName);
            await collection.UpdateOneAsync(filter, update);
        }
    }

    private async Task OnSelectedSlideChange(Slide slide, Folder folder)
    {
        if (currentFolder != folder)
        {
            currentFolder = folder;
        }

        currentSlide = slide;
        await ReDrawCanvas();

    }

    private async Task onclickSlideRename(string slideID, string folderID) 
    {
        var slide = tactic.Folders.Single(f => f.Id == folderID).Slides.Single(s => s.Id == slideID);
        var parameters = new DialogParameters<RenameDialog>
        {
            { "Name", slide.Name }
        };

        var dialog = await DialogService.ShowAsync<RenameDialog>("Rename", parameters);
        var newName = (await dialog.Result).Data.ToString();
        if (newName != null) 
        {
            slide.Name = newName;
            var filter = Builders<Tactic>.Filter.Eq(t => t.Id, tactic.Id);

            var folderIndex = tactic.Folders.FindIndex(f => f.Id == folderID);
            var slideIndex = tactic.Folders[folderIndex].Slides.FindIndex(s => s.Id == slideID);

            var update = Builders<Tactic>.Update.Set(t => t.Folders[folderIndex].Slides[slideIndex].Name, newName);
            await collection.UpdateOneAsync(filter, update);
        }
    }

    private async Task OnAddSlide(string folderID)
    {
        var newSlide = new Slide
        {
            Id = ObjectId.GenerateNewId().ToString(),
            Name = "New Slide",
            MapPath = null,
            Icons = new List<Icon>()
        };
        var filter = Builders<Tactic>.Filter.Eq(t => t.Id, tactic.Id) & Builders<Tactic>.Filter.ElemMatch(t => t.Folders, f => f.Id == folderID);
        var folderIndex = tactic.Folders.FindIndex(f => f.Id == folderID);
        var update = Builders<Tactic>.Update.Push(t => t.Folders[folderIndex].Slides, newSlide);
        await collection.UpdateOneAsync(filter, update);
        tactic.Folders.Single(f => f.Id == folderID).Slides.Add(newSlide);

    }

    private async Task onClickTacticRename() 
    {
        var parameters = new DialogParameters<RenameDialog>
        {
            { "Name", tactic.Name }
        };

        var dialog = await DialogService.ShowAsync<RenameDialog>("Rename", parameters);
        var newName = (await dialog.Result).Data.ToString();
        if (newName != null)
        {
            tactic.Name = newName;
            //TODO currently im always replacing the entire document. Not good.
            var filter = Builders<Tactic>.Filter.Eq(t => t.Id, tactic.Id);
            var update = Builders<Tactic>.Update.Set(t => t.Name, newName);
            await collection.UpdateOneAsync(filter, update);
        }
    }

    private async Task OnAddFolder() 
    {
        var newFolder = new Folder
            {
                Id = ObjectId.GenerateNewId().ToString(),
                Name = "New Folder",
                Slides = new List<Slide>(),
            };
        var filter = Builders<Tactic>.Filter.Eq(t => t.Id, tactic.Id);
        var update = Builders<Tactic>.Update.Push(t => t.Folders, newFolder);
        await collection.UpdateOneAsync(filter, update);
        tactic.Folders.Add(newFolder);
    }

    private async Task ReDrawCanvas() 
    {
        await JS.InvokeVoidAsync("draw", currentSlide.Icons);
        await JS.InvokeVoidAsync("setBackground", currentSlide.MapPath);
    }

    private void ChangeTool(IconType selectedTool) 
    {
        currentTool = selectedTool;
    }

    private async Task setStartPointForArrow(MouseEventArgs eventArgs)
    {
        drawableIcon = new Icon(eventArgs.OffsetX, eventArgs.OffsetY, eventArgs.OffsetX, eventArgs.OffsetY, string.Empty, IconType.StraightLine, colorValue);
    }


    static string vectorLineIcon = "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><title>vector-line</title><path d=\"M15,3V7.59L7.59,15H3V21H9V16.42L16.42,9H21V3M17,5H19V7H17M5,17H7V19H5\" /></svg>";
    static string swordsIcon = "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><title>sword-cross</title><path d=\"M6.2,2.44L18.1,14.34L20.22,12.22L21.63,13.63L19.16,16.1L22.34,19.28C22.73,19.67 22.73,20.3 22.34,20.69L21.63,21.4C21.24,21.79 20.61,21.79 20.22,21.4L17,18.23L14.56,20.7L13.15,19.29L15.27,17.17L3.37,5.27V2.44H6.2M15.89,10L20.63,5.26V2.44H17.8L13.06,7.18L15.89,10M10.94,15L8.11,12.13L5.9,14.34L3.78,12.22L2.37,13.63L4.84,16.1L1.66,19.29C1.27,19.68 1.27,20.31 1.66,20.7L2.37,21.41C2.76,21.8 3.39,21.8 3.78,21.41L7,18.23L9.44,20.7L10.85,19.29L8.73,17.17L10.94,15Z\" /></svg>";
}